@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <img class="center-block" src="~/Images/maxresdefault.jpg" style="height : 60vh"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="banner">
                <h1>Neal Services, Inc Since 1949</h1>
                <p>
                    Mattis duis rutrum ipsum quis arcu in duis vulputate et eu neque ultrices dictumst at. Erat dui aliquam.
                    Ut consectetuer volutpat phasellus a id urna nascetur quis. Mauris orci diam vestibulum mollis fusce est
                    non pellentesque. Nulla aliquam consequat. Ut nulla nulla neque ultrices elit. Parturient neque magna.
                    Lorem metus vitae ipsum lorem odio. Tellus dolor fringilla. Lacus interdum justo. Et nibh faucibus libero
                    consequat velit vel donec et pulvinar in aliquam curabitur pulvinar natoque nunc sit a vitae at neque.

                    Mattis duis rutrum ipsum quis arcu in duis vulputate et eu neque ultrices dictumst at. Erat dui aliquam.
                    Ut consectetuer volutpat phasellus a id urna nascetur quis. Mauris orci diam vestibulum mollis fusce est
                    non pellentesque. Nulla aliquam consequat. Ut nulla nulla neque ultrices elit. Parturient neque magna.
                    Lorem metus vitae ipsum lorem odio. Tellus dolor fringilla. Lacus interdum justo. Et nibh faucibus libero
                    consequat velit vel donec et pulvinar in aliquam curabitur pulvinar natoque nunc sit a vitae at neque.
                    Mattis duis rutrum ipsum quis arcu in duis vulputate et eu neque ultrices dictumst at. Erat dui aliquam.
                    Ut consectetuer volutpat phasellus a id urna nascetur quis. Mauris orci diam vestibulum mollis fusce est
                    non pellentesque. Nulla aliquam consequat. Ut nulla nulla neque ultrices elit. Parturient neque magna.
                    Lorem metus vitae ipsum lorem odio. Tellus dolor fringilla. Lacus interdum justo. Et nibh faucibus libero
                    consequat velit vel donec et pulvinar in aliquam curabitur pulvinar natoque nunc sit a vitae at neque.
                </p>
            </div>
        </div>
    </div>
</div>



<link href="~/Content/Index.css" rel="stylesheet" />