@{
    ViewBag.Title = "Neal Services, Inc";
}



    <div class="row">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" style=" width:100%; height: 70vh !important;">
                <div class="item active">
                    <img src="~/Images/company.jpg" alt="Neal Services Technicians" style=" width:100%; height: 95vh">
                </div>

                <div class="item">
                    <img src="~/Images/AS_Animals_Products_Group_160216090402.jpg" alt="Let us find the best price for you" style=" width:100%; height: 100vh"/>
                </div>

                <div class="item">
                    <img src="~/Images/sleepin.jpeg" alt="New York" style=" width:100%; height: 100vh">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="banner">
                <img style="height:12vh;" class="center-block" src="~/Images/AS_Financing_Bug_CMYK_300415211701_lowres.png" />
                <h3>We Understand...</h3>
                <p>
                    Mattis duis rutrum ipsum quis arcu in duis vulputate et eu neque ultrices dictumst at. Erat dui aliquam.
                    Ut consectetuer volutpat phasellus a id urna nascetur quis. Mauris orci diam vestibulum mollis fusce est
                    non pellentesque. Nulla aliquam consequat. Ut nulla nulla neque ultrices elit. Parturient neque magna.
                    Lorem metus vitae ipsum lorem odio. Tellus dolor fringilla. Lacus interdum justo. Et nibh faucibus libero
                    consequat velit vel donec et pulvinar in aliquam curabitur pulvinar natoque nunc sit a vitae at neque.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="banner">
                <h3>Military and Senior Discounts</h3>
                <div class="logo">
                    <i class="fa fa-money"></i>
                </div>
                <p>
                    Mattis duis rutrum ipsum quis arcu in duis vulputate et eu neque ultrices dictumst at. Erat dui aliquam.
                    Ut consectetuer volutpat phasellus a id urna nascetur quis. Mauris orci diam vestibulum mollis fusce est
                    non pellentesque. Nulla aliquam consequat. Ut nulla nulla neque ultrices elit. Parturient neque magna.
                    Lorem metus vitae ipsum lorem odio. Tellus dolor fringilla. Lacus interdum justo. Et nibh faucibus libero
                    consequat velit vel donec et pulvinar in aliquam curabitur pulvinar natoque nunc sit a vitae at neque.
                    Amet duis at consequat con vel. Praesent tincidunt nisl. Facilisis eu lorem odio suscipit ut. Non ac erat.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="banner">
                <div class="logo">
                    <i class="fa fa-address-card"></i>
                </div>
                <h3>Become a VIP</h3>
                <p>
                    Mattis duis rutrum ipsum quis arcu in duis vulputate et eu neque ultrices dictumst at. Erat dui aliquam.
                    Ut consectetuer volutpat phasellus a id urna nascetur quis. Mauris orci diam vestibulum mollis fusce est
                    non pellentesque. Nulla aliquam consequat. Ut nulla nulla neque ultrices elit. Parturient neque magna.
                    Lorem metus vitae ipsum lorem odio. Tellus dolor fringilla. Lacus interdum justo. Et nibh faucibus libero
                    consequat velit vel donec et pulvinar in aliquam curabitur pulvinar natoque nunc sit a vitae at neque.
                    Amet duis at consequat con vel. Praesent tincidunt nisl. Facilisis eu lorem odio suscipit ut. Non ac erat.
                </p>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="container-fluid">
    <div class="row" style=" height: 80vh">
        <div class="col-md-4" >
            <img style="height: 75vh;" src="~/Images/stock-photo-confident-smiling-supermarket-clerk-posing-at-the-shopping-mall-retail-job-concept-704542678.jpg" alt="Alternate Text" />
        </div>
        <div class="col-md-6 pull-right banner">
            <h1 class="testi" >Neal Services Helped US...</h1>
            <p class="testi-text" style="text-align: left;">" In a pinch we got what we needed. Steve and his team of true professionals saved the day. Tellus dolor fringilla. Lacus interdum justo. Et nibh faucibus libero
             consequat velit vel donec et pulvinar in aliquam curabitur pulvinar natoque nunc sit a vitae at neque. Nulla aliquam consequat. Ut nulla nulla neque ultrices elit. Parturient neque magna.
                    Lorem metus vitae ipsum lorem odio. Tellus dolor fringilla. Lacus interdum justo. Et nibh faucibus libero
                    consequat velit vel donec et pulvinar in aliquam curabitur pulvinar natoque nunc sit a vitae at neque.
                    Amet duis at consequat con vel. Praesent tincidunt nisl. "  </p>
            <p class="testi">-Local business </p>
        </div>
    </div>
</div>

@section scripts{

}